{
  "extends": "@rocketseat/eslint-config/react",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "singleQuote": true
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  }
}
